<!-- component -->
<style>
    .bannerFondo{
            height: 400px;
    }
    </style>
   <!--- <div>      
      <div class="bannerFondo bg-green-800	bg-left-top bg-auto bg-repeat-x" style="background-image: url()">
      </div> --->
    <!-- Column Content -->
          <div class="h-60 rounded-md  bg-cover bg-center" style="background-image: url(https://i.ytimg.com/vi/n5SZe3tSVQQ/maxresdefault.jpg)">
              <div class="bg-gray-800 bg-opacity-50 flex items-center h-full">
                  <div class="flex-auto items-center px-10 max-w-sm">
                  </div>
              </div>
          </div>
      </div>
    
        <div class="-mt-28 ">
            <div class="w-full text-center">
              <h1 class="text-center font-semibold tracking-widest text-white">Bersama Bangkitkan Ekonomi Bagsa </h1>
              <h4 class="font-bold text-lg text-white">
               ! YUUUK JAJAN
              </h4>
              <h1 class="text-center font-semibold tracking-widest text-white">Jajan Anda Seyum Untuk Mereka  </h1>
          </div>
                  
          <div class="grid grid-cols-1 sm:grid-cols-1 ">
              <div class="p-3 sm:p-10 ">
                  <div class=" max-w rounded overflow-hidden shadow-lg hover:bg-white transition duration-500  bg-white">
                            <div class="grid place-items-center grid-cols-3 sm:grid-cols-3 ">

                                <div class="inline-flex w-16 h-16 rounded-sm bg-white hover:bg-red-400 items-center justify-center">
                                <div class="text-sm font-bold ">
                                  <a href="">
                                <svg class="h-8 w-8 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"/>
                                  </svg>
                                  minuman
                                </a>
                                  </div>
                                </div>
                                <div class="inline-flex w-16 h-16 rounded-sm bg-white hover:bg-red-400 items-center justify-center">
                                  <div class=" text-sm font-bold ">
                                  <a href="/sedekah">
                                  <svg class="h-8 w-8 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="3" y="3" width="6" height="6" rx="1" />  <rect x="15" y="15" width="6" height="6" rx="1" />  <path d="M21 11v-3a2 2 0 0 0 -2 -2h-6l3 3m0 -6l-3 3" />  <path d="M3 13v3a2 2 0 0 0 2 2h6l-3 -3m0 6l3 -3" /></svg>
                                 jasa</a> 
                                  </div>
                                  </div>
                                  <div class="inline-flex w-16 h-16 rounded-sm bg-white hover:bg-red-400 items-center justify-center">
                                  <div class="text-sm font-bold">
                                    <a href="/kontak">
                                  <svg class="h-8 w-8 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />  <path d="M15 7a2 2 0 0 1 2 2" />  <path d="M15 3a6 6 0 0 1 6 6" /></svg>
                                  makanan
                                 </a>
                                  </div>
                                  </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      
      </div>
  
      