<!-- component -->
<br>
<br>
<style>
  .bannerFondo{
          height: 400px;
  }
  </style>
     <div class="h-80 rounded-md  bg-cover bg-center" style="background-image: url({{.Params.featured_image}})">
      <div class="bg-gray-900 bg-opacity-60 flex items-center h-full">
          <div class="flex-auto items-center px-10 max-w-sm">
          </div>
      </div>
  </div>

  
        <div class="-mt-28 ">
          <div class="w-full text-center">
            <h4 class="font-bold text-xl text-white">
              {{ .Title }}
            </h4>
            <br>
          
        </div>
                
        <div class="grid grid-cols-1 sm:grid-cols-1 ">
            <div class="p-3 sm:p-10">
                <div class="py-1 max-w rounded overflow-hidden shadow-lg hover:bg-white transition duration-500  bg-white">
                    <div class="space-y-10">
                        <i class="fa fa-spa" style="font-size:48px;"></i>
                        </div>
                        <div class="px-2">
                            <div class="space-y-5">
                                    {{.Content}}
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    
    </div>
    